azure-identity~=1.17.1
azure-monitor-opentelemetry~=1.6.4
aiohttp~=3.11.11
botbuilder-core~=4.16.2
botbuilder-azure~=4.16.2
botbuilder-integration-aiohttp~=4.16.2
botbuilder-dialogs~=4.16.2
openai~=1.65.2
opentelemetry-instrumentation-aiohttp-client~=0.49b2
opentelemetry-instrumentation-aiohttp-server~=0.49b2
pydantic~=2.10.4
pydantic-settings~=2.7.0
